<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question Answering</title>
</head>
<body>

<form action="/qa" method="POST">
     <fieldset>
            <legend>Intelligent Question Answering</legend>

         <div style = font-size:20px; font-weight:bold; margin-left:100px;>
         <p>Context <textarea name=context rows=5 cols=40></textarea> </p>
         <p>Question <input name="question"></p>
<!--             <p>Top K <input name="topk"></p>-->
         <input type="submit" value="Submit">
         </div>
         </fieldset>
</form>

</body>
</html>